@import "tailwindcss";

:root {
  --dark :#111111;
  --dark-alternate: #1B1918;
  --primary:#FF5F3F;
  --primary-light: #F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: 'Poppins', sans-serif;
}

html{
  overflow-x: hidden;
}

*{
  @apply font-poppins;
}

/* INPUT GROUP */
.input-group{
  @apply mb-5;
}
.input-group label{
  @apply  block mb-1 text-xs;
}
.input-group input,
.input-group textarea{
  @apply text-sm px-4 py-2.5 bg-gray-100 w-full focus:border focus:border-gray-400 outline-none;
}

/* Input group admin */

.input-group-admin label{
  @apply  block mb-1 text-xs;
}
.input-group-admin input,
.input-group-admin select,
.input-group-admin textarea{
  @apply text-sm px-4 py-2.5 border border-gray-300 w-full rounded-md focus:border focus:border-gray-500 outline-none;
}

